<h1>Pictures (<%= @pictures.length %>)</h1>
<%= link_to("New Picture", "/pictures/new") %>


<h1>Most recent pictures</h1>
<ul>
  <% @most_recent_pictures.each do |picture| %>
    <li><%= picture.title %></li>
  <% end %>
</ul>

<div class="pictures_index">
  <% @pictures.each do |picture| %>
    <p><%= picture.title %>, <%= picture.artist %></p>
    <div class="img">
      <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>
    </div>
    <p>Comments: <%= picture.comments.count %></p>
  <% end %>
</div>
